@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #fcfcf7;
  color: #0f172a;
}

* {
  box-sizing: border-box;
}